<form #addTaskForm='ngForm'>
    <div class="row divMargin">
      <div class = "col-sm-2 text-left">
          <label for="Taskname">Task:</label>
      </div>
      <div class="col-sm-4">
          <input type ="text" id="Taskname" class ="form-control" #taskName = "ngModel" placeholder="Task" required name="inputTask" [(ngModel)] = Task.TaskName/>
          <div *ngIf="taskName.invalid && taskName.touched" class="alert alert-danger">
            Name is required.
          </div>
      </div>
    </div>
    <div class="row divMargin"  style="margin-bottom: 20px;" ></div>
    <div class="row divMargin">
        <div class = "col-sm-2 text-left">
            <label for="ParentTaskname" >Parent Task:</label>
        </div>
        <div class="col-sm-4">
          <select class ="form-control" id="ParentTaskname" name="inputParentTask" [(ngModel)] = Task.ParentTaskID>
            <option value="0">--Select--</option>
            <option [value]="task.Id" *ngFor="let task of parenttask" >{{task.Text}}</option>
          </select>   
        </div>
      </div>
      <div class="row divMargin" style="margin-bottom: 20px;" ></div>
    <div class="row divMargin">
        <div class = "col-sm-2 text-left">
          <label for="Priority">Priority:</label>
        </div>
        <div class="col-sm-4">
          <input type ="range" id="Priority" max="30" min="0" step="1" name="inputPriority" [(ngModel)] = Task.Priority value="0"/>
        </div>
      </div>
      <div class="row divMargin" style="margin-bottom: 20px;" ></div>
      <div class="row divMargin">
        <div class = "col-sm-2 text-left">
          <label for="Startdate">Start Date:</label>
        </div>
        <div class="col-sm-4">
          <input type ="datetime-local" id="Startdate" class ="form-control" #startdate = "ngModel" name="inputStartDate" required [(ngModel)] = Task.StartDate />
          <br>
          <div *ngIf="startdate.invalid && startdate.touched" class="alert alert-danger">
            Start Date is required.
          </div>
        </div>
      </div>
      <div class="row divMargin" style="margin-bottom: 20px;"></div>
      <div class="row divMargin">
        <div class = "col-sm-2 text-left">
          <label for="Enddate">End Date:</label>
        </div>
        <div class="col-sm-4">
            <input type ="datetime-local" id="Enddate" class ="form-control" #enddate = "ngModel" name="inputEndDate" required [(ngModel)] = Task.EndDate />
            <br>
            <div *ngIf="enddate.invalid && enddate.touched" class="alert alert-danger">
              End Date is required.
          </div>
        </div>
      </div>
      <div class="row divMargin"  style="margin-bottom: 20px;" ></div>
      <div class="row divMargin">
        <div class = "col-sm-2 text-left">
            
        </div>
        <div class="col-sm-4">
            <Button class="btn btn-primay" [disabled]="addTaskForm.invalid" (click)="SumbitTask()">{{ButtonType}}</Button>
            &nbsp;&nbsp;&nbsp;
            <Button class="btn btn-primay" (click)="ResetTask()">Reset</Button>
        </div>
        <div class="col-sm-4">            
        </div>
      </div>      
  </form>
  