<form  style="margin-bottom: 20px;">
  <div class ="row"></div>
  <div class = "row divMargin">
    <div class="col-sm-2 text-left">
        <label for="Taskname">Task:</label>
    </div>
    <div class="col-sm-4">
      <input type ="text" class ="form-control" placeholder="Search Task" name="inputTask" [(ngModel)] = SearchTask.Task (change) = SearchTaskList() />
    </div>
    <div class="col-sm-2 text-left">
      <label for="ParentTaskname" >Parent Task:</label>
    </div>
    <div class="col-sm-4">
      <select class ="form-control"name="inputParentTask" (change) = SearchTaskList() [(ngModel)] = SearchTask.ParentTaskID>
        <option value="0">--Select--</option>
        <option [value]="task.Id" *ngFor="let task of parenttask">{{task.Text}}</option>
      </select>      
    </div>
  </div>  
  <div class="row divMargin" style="margin-bottom: 20px;" ></div>
  <div class = "row divMargin">
    <div class="col-sm-2 text-left">
      <label for="Priority">Priority:</label>
    </div>
    <div class="col-sm-2">
      <input type ="number" class ="form-control" placeholder="From" name="inputPriorityFrom" [(ngModel)] = SearchTask.PriorityFrom (change) = SearchTaskList()/>
    </div>
    <div class="col-sm-2">
      <input type ="number" class ="form-control" placeholder="To" name="inputPriorityTo"  [(ngModel)] = SearchTask.PriorityTo (change) = SearchTaskList()/>
    </div>    
    <div class="col-sm-2 text-left">
      <label for="startdate">Start/End Date:</label>
    </div>
    <div class="col-sm-2">
      <input type ="date" class ="form-control" placeholder="YYYY/MM/DD" name="inputStartDate" [(ngModel)] = SearchTask.StartDate (change) = SearchTaskList()/>
    </div>
    <div class="col-sm-2">
      <input type ="date" class ="form-control" placeholder="YYYY/MM/DD" name="inputEndDate" [(ngModel)] = SearchTask.EndDate (change) = SearchTaskList()/>
    </div>    
  </div> 
  <div class="row divMargin"  style="margin-bottom: 20px;" ></div> 
  <div class="row divMargin">      
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Parent Task</th>
          <th scope="col">Priority</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Edit</th>
          <th scope="col">End Task</th>
          <th scope="col">Delete Task</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Task of Task">
          <td>{{ Task.TaskName }}</td>
          <td>{{ Task.ParentTaskName }}</td>
          <td>{{ Task.Priority }}</td>
          <td>{{ Task.StartDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ Task.EndDate | date: 'dd-MM-yyyy' }}</td>
          <td><Button class="btn btn-secondary btn-sm"  routerLink="/edit/{{Task.TaskID}}" [disabled]="Task.Status == 'EndTask'" >Edit Task</Button></td>
          <td><Button class="btn btn-secondary btn-sm"  (click) = "EndTask(Task.TaskID)" [disabled]="Task.Status == 'EndTask'">End Task</Button></td>
          <td><Button class="btn btn-secondary btn-sm"  (click) = "DeleteTask(Task.TaskID)" [disabled]="Task.Status == 'EndTask'">Delete Task</Button></td>
        </tr>        
      </tbody>
    </table>
  </div>
</form>
